$primary-color: #333;
$border-outline-color: #f1f1f1;

@mixin transform($property) {
    transform: $property;
}

body {
    padding-top: 70px;
}

img {
    max-width: 100%;
}

a,
.a:hover {
    transition: all .2s;
}

.fixed-top {
    border-bottom: 1px solid $border-outline-color;
}

footer {
    .footer {
        border-top: 1px solid $border-outline-color;
    }
}

.box {
    @include transform(rotate(30deg));
}

.nav-link,
.dropdown-item {
    font-weight: 700;
}

.navbar {
    padding: .5rem 2rem;
}

%message-shared {
    border: 1px solid #ccc;
    padding: 10px;
    color: #333;
}

.message {
    @extend %message-shared;
}

.success {
    @extend %message-shared;
    border-color: green;
}

.error {
    @extend %message-shared;
    border-color: red;
}

.warning {
    @extend %message-shared;
    border-color: yellow;
}