// IMPORTS
@import 'bourbon';

// VARIABLES
$primary-color: #333;
$border-outline-color: #f1f1f1;

// MIXINS
@mixin transform($property) {
    transform: $property;
}


// EXTENDS
%message-shared {
    border: 1px solid $primary-color;
    padding: 10px;
    color: $primary-color;
}


// DEMO 

body {
    padding-top: 70px;
}

a,
.a:hover {
    transition: all .2s;
}

.fixed-top {
    border-bottom: 1px solid $border-outline-color;
}

.nav-link,
.dropdown-item {
    font-weight: 700;
}

.navbar {
    padding: .5rem 2rem;
}

footer {
    .footer {
        border-top: 1px solid $border-outline-color;
    }
}