//====================================
// Global Imports
//====================================


// 1- Import bootstrap framework
@import '../1-frameworks/index';

// 2 - Import plugins
@import '../2-plugins/index';

// 3 - Import base style, custom variables and mixins
@import '../3-base/index';

// 4 - Import modules
@import '../4-modules/index';

// 5 - Import layout  styles
@import '../5-layout/index';

// IMPORT BOURBON
@import "bourbon";

// CUSTOM SCSS
$white:"#FFFFFF";

body {
    margin: 0 auto;
    background-color: $white;
    position: relative;
    text-align: center;
}

.lead {
    @include border-color(gray);
    @include border-style(solid);
    @include border-top-radius(3px 3px);
    @include border-bottom-radius(3px 3px);
    @include ellipsis;
}

#{$all-buttons} {
    background-color: #f00 !important;
    @include border-color(gray !important);
}

#{$all-buttons-active} {
    background-color: red  !important;
}


#{$all-buttons-focus} {
    background-color: green  !important;
}

#{$all-buttons-hover} {
    background-color: blue  !important;
}