{% extends "layout.njk" %}
{% set page_title = 'Home' %}

{% block content %}

  {% include "macros/nav-macro.njk" %}

  {% import "macros/form-macro.njk" as form %}
  	{{ form.label( 'Username' ) }}
	{{ form.field( 'user' ) }}
	{{ form.label( 'Password' ) }}
	{{ form.field( 'pass', type = 'password' ) }}

  <h1>This is the index page</h1>

  <div class="slider-gallery">
  {% for image in images %}
  <div class="gallery__item">
    <img src="{{image.src}}" alt="{{image.alt}}">
  </div>
  {% endfor %}
</div>

{% endblock %}
