<footer class="footer pt-5 pb-5 text-center">
    <div class="container">
        <p>© <span class="credits font-weight-bold">
                <a href="https://github.com/johndavemanuel/bootstrap-gulp-starter-template" rel="noopener" target="_blank" class="text-dark">Bootstrap Gulp Starter Template</a>
            </span>
        </p>
    </div>
</footer>
<!-- build:js -->
<script src="{{root}}assets/vendor/js/jquery.js"></script>
<script src="{{root}}assets/vendor/js/popper.js"></script>
<script src="{{root}}assets/vendor/js/bootstrap.js"></script>
<script src="{{root}}assets/js/custom.js"></script>
<!-- endbuild -->