// -----------------------------------------------------------------------------
// This file contains all styles related to the header of the site/application.
// -----------------------------------------------------------------------------
.navbar {
    padding: .5rem 2rem;
}

.fixed-top {
    border-bottom: 1px solid $gray-100;
}

.nav-link,
.dropdown-item {
    font-weight: 700;
}
