{{!-- This is the base layout for your project, and will be used on every page. --}}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>{{title}} - Bootstrap HTML Template</title>
    <link rel="stylesheet" href="{{root}}assets/css/bootstrap.css">
    <link rel="stylesheet" href="{{root}}assets/css/theme.css">
    <link rel="stylesheet" href="{{root}}assets/vendor/css/vendor.css">
</head>
<body>
    {{> navigation}}
    <main role="main">
    {{> body}}
    </main>
    {{> footer}}    
</body>
</html>