<!DOCTYPE html>
<html lang="en">

    <head>
        <meta charset="UTF-8">
        <title>{{ page_title  }}</title>
        <link rel="stylesheet" href="css/styles.css">
    </head>

    <body>
        {% block content %} {% endblock %}
        <script src="bower_components/jquery/dist/jquery.js"></script>
        <script src="js/main.js"></script>
    </body>

</html>